<div class="page-content container-fluid page-profile">
    <div class="row">
        <div class="col-md-3">
            <!-- Page Widget -->
            <div class="widget widget-shadow text-center">
                <div class="widget-header">
                    <div class="widget-header-content">
                        <a class="avatar avatar-lg" href="javascript:void(0)">
                            <img src="/img/avatar.png" alt="...">
                        </a>
                        <h4 class="profile-user">{{profesor.nombres}}</h4>
                        <p class="profile-job">{{profesor.apellidos}}</p>
                        <h6>Correo: {{profesor.correo}}</h6>
                        <br>
                        <button type="button" class="btn btn-primary"
                                ui-sref="main.profesor.editar({profesorId:profesor.id})"
                        >Editar
                        </button>
                    </div>
                </div>
                <div class="widget-footer">
                    <div class="row no-space">
                        <div class="col-xs-4">

                        </div>
                        <div class="col-xs-4">
                            <strong class="profile-stat-count">{{profesor.codigo}}</strong>
                            <span>Codigo</span>
                        </div>
                        <div class="col-xs-4">

                        </div>
                    </div>
                </div>
            </div>
            <!-- End Page Widget -->
        </div>

        <div class="col-md-9">
            <!-- Panel -->
            <div class="panel">
                <div class="panel-body nav-tabs-animate nav-tabs-horizontal">
                    <ul class="nav nav-tabs nav-tabs-line" data-plugin="nav-tabs" role="tablist">
                        <li class="active" role="presentation"><a>Cursos</a></li>

                    </ul>

                    <div class="tab-content">
                        <div class="tab-pane active animation-slide-left">
                            <ul class="list-group list-group-dividered list-group-full">
                                <li class="list-group-item" ng-repeat="curso in profesor.cursos">
                                    <div class="media">
                                        <div class="media-left">
                                            <a class="avatar avatar-online" href="javascript:void(0)">
                                                <img src="/img/book.png" alt=""><i></i></a>
                                        </div>
                                        <div class="media-body">
                                            <h4 class="media-heading">
                                                <small class="pull-right">{{curso.fecha_inicio}}</small>
                                                <a class="name">{{curso.nombre}}</a> {{curso.periodo}}-{{curso.anio}}
                                            </h4>
                                            <small>{{curso.descripcion}}</small>
                                            <button type="button" class="btn btn-primary pull-right"
                                                    ui-sref="main.curso.editar({cursoId:curso.id})"
                                            >Editar
                                            </button>
                                        </div>
                                    </div>
                                </li>

                            </ul>

                        </div>

                    </div>
                </div>
            </div>
            <!-- End Panel -->
        </div>
    </div>


</div>